/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-gray: #111212;
  --main-darkblue: #131741da;
  --main-white: #f1f1f1;
  --main-lightblue: #1a3b83;
  --main-white1: #fff;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background:var(--main-white);
}

::-webkit-scrollbar-thumb {
  background: var(--main-darkblue);
  border-radius: 25px;
  transition: all 0.5s ease;
}
/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 13px 0;
  z-index: 1;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;

}

nav.sticky {
  background: var(--main-gray);
  padding: 13px 0;
  filter: blur(80%);
  /* box-shadow: -1px -1px 3px #716e6e7e, 1px 1px 3px rgba(255, 255, 255, 0.247); */
}

nav .navbar {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 600;
  font-size: 35px;
  color: var(--main-white1);
}

nav.sticky .navbar .logo a {
  color: yellow;
}

nav .navbar .menu {
  display: flex;
  position: relative;


}

nav .navbar .menu li {
  list-style: none;
  margin: 0 20px;
  text-align: center;

}

nav .navbar .menu li a {
  font-size: 18px;
  font-weight: 600;
  color: var(--main-white);
  transition: all 0.2s ease;

}

.navbar .menu li a {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  transition: color 0.4s ease;
}

.navbar .menu li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  left: 0;
  bottom: 0;
  background:var(--main-white);
  transition: width 0.4s ease;
}

.navbar .menu li a:hover::after {
  width: 100%;
}


nav.sticky .menu a {
  color: var(--main-white1);
}


/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: var(--main-white1);
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: var(--main-white);
}

nav.sticky .menu-btn {
  color: var(--main-white1);
}

.navbar .menu .menu-btn {
  color: var(--main-white1);
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: var(--main-white1);
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: var(--main-white);
}

nav.sticky .menu-btn {
  color: var(--main-white1);
}

.navbar .menu .menu-btn {
  color: var(--main-white1);
}

/* About Section Styling */


/* Those Elements Where i Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */


section {
  padding-top: 50px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(32, 32, 33);
  background-size: cover;
  background-position: center;
  font-family: 'Ubuntu', sans-serif;
}

section .content {
  width: 70%;
  margin: 40px auto;

}

.about .about-details {
  display: flex;
  justify-content: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: var(--main-white);
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--main-white);
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .left img {
  width: 75%;
  border-radius: 10%;
}

.about-details .right {
  width: 80%;
}

section .topic {
  color: var(--main-white);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-weight: 500;
  color: var(--main-white);
}

section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-gray);
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

section .button button:hover {
  background-color: rgb(125, 100, 16);
  color: var(--main-white1);

}


/* My Skills CSS */
.skills .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills .boxes .box {
  margin: 20px 0;
  width: 14%;
  text-align: center;
  border-radius: 5px;
  padding: 30px 10px;
  color: var(--main-white);
  background: rgba(116, 117, 116, 0.362);
  border: 1px solid rgb(255, 255, 255);
  cursor: default;
  transition: all 0.5s ease;
}

.skills .boxes .box:hover {
  transform: scale(1.1);
}

.skills .boxes .box .topic img {
  height: 100px;
  width: 110px;
  border-radius: 50%;

}

.skills .boxes .box:hover {
  color: var(--main-white1);
}


.skills .boxes .box:hover .topic,
.skills .boxes .box:hover p {
  color: var(--main-white1);
  transition: all 0.3s ease;
}

.skills .boxes .box:hover .topic,
.skills .boxes .box:hover p {
  color: var(--main-white1);
}



/* Footer CSS */
footer {
  background: var(--main-gray);
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  box-shadow: -1px -1px 3px #18181886, 1px 1px 3px rgba(21, 21, 21, 0.192);
}

footer .text span {
  font-size: 15px;
  color: var(--main-white1);
}

footer .text span a {
  font-weight: 500;
  color: var(--main-white1);
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 80px;
  right: 20px;
  color: var(--main-white1);
  padding: 7px 12px;
  border: 1px solid #ae9102;
  font-size: 18px;
  border-radius: 5px;
  display: none;
}

.scroll-button a:hover {
  background-color: var(--main-darkblue);
}


/* Responsive Media Query */
@media (max-width: 1190px) {}


@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-details .right {
    width: 100%;
    margin: 30px 0;
  }
  .skills .boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills .boxes .box {
    width: 70%;
  }

}

@media (max-width: 900px) {
  .about .left img {
    width: 60%;
  }

  .navbar .media-icons a {
    display: none;
  }
  .skills .boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills .boxes .box {
    width: 70%;
  }

}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }
  .skills .boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills .boxes .box {
    width: 70%;
  }

  nav .navbar .menu {
    position: fixed;
    right: -100%;
    top: 0;
    background: var(--main-gray);
    height: 100vh;
    width: 50%;
    padding-top: 60px;
    flex-direction: column;
    transition: all 0.4s ease;
  }

  .navbar.active .menu {
    right: 0;

  }

  nav .navbar .menu a {
    font-size: 23px;
    color: var(--main-white1);
    display: block;
    padding: 20px 0;
    margin-left: 20px;
  }

  nav.sticky .menu a:hover {
    color: var(--main-blue);
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

}

@media (max-width: 500px) {

  section .content{
    width: 86%;
  }

  .about .left img {
    width: 100%;
  }

  .about-details .right {
    width: 100%;
  }
  .skills .boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills .boxes .box {
    width: 70%;
  }
  footer .text span{
    font-size: 12px;
  }
}